<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Billing</title>
    <link rel='stylesheet' href='/index.css' />
  </head>

  <body>
    <div class='logo-container'>
      <img src='/kanastra.jpg' alt='Logo da Empresa' class='logo' />
    </div>

    <form
      action='/upload'
      method='post'
      enctype='multipart/form-data'
      class='upload-form'
    >
      <div class='form-group'>
        <label for='file'>Browse CSV file</label>
        <input type='file' id='file' name='file' accept='.csv' required />
      </div>
      <div class='form-group'>
        <input type='submit' value='Send' />
      </div>
    </form>

    {{#if message}}
      <p>{{message}}</p>
    {{/if}}
  </body>

</html>